appdirs==1.4.4
arabic-reshaper==2.1.1
asgiref==3.2.10
astroid==2.4.2
branca==0.4.2
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.3
distlib==0.3.1
Django==3.0.8
django-crispy-forms==1.11.2
django-filter==2.3.0
django-localflavor==3.0.1
filelock==3.0.12
folium==0.12.1
future==0.18.2
geographiclib==1.50
geopy==2.1.0
html5lib==1.1
idna==2.10
isort==4.3.21
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.20.2
Pillow==7.2.0
pylint==2.5.3
PyPDF2==1.26.0
python-bidi==0.4.2
python-http-client==3.3.2
python-stdnum==1.14
pytz==2020.1
razorpay==1.2.0
reportlab==3.5.59
requests==2.25.1
sendgrid==6.6.0
six==1.15.0
sqlparse==0.3.1
starkbank-ecdsa==1.1.0
toml==0.10.1
urllib3==1.26.3
virtualenv==20.0.28
virtualenvwrapper-win==1.2.6
webencodings==0.5.1
wrapt==1.12.1
xhtml2pdf==0.2.5
