*{margin:0;padding:0}
body{background:#f3f3f3;font-family: 'Clash Grotesk', sans-serif;}
.main-header{padding:2em 15px 0;flex-direction:row!important}
.btn{border-radius: 18px;padding: 6px 40px;font-size: 14px;font-family: 'Clash Display',sans-serif;font-weight: 600;letter-spacing: 0.1em;margin: 5px;}
.btn.btn-danger, .btn.btn-danger:hover{background: #B73030;color: #ffffff;border-color: #B73030;}
.btn.btn-secondary, .btn.btn-secondary:hover{background: #43454C;color: #ffffff;border-color: #43454C;}
.form-control:focus{border-color:#ea580c;box-shadow:0 0 0 0.25rem rgb(234 88 12 / 25%);}
.text-orange, .text-orange:hover{color:#F97316;}
.bottom-bot {
    text-align: center;
    margin: 10px 0 20px;
    font-size: 20px;
    font-family: 'Clash Display', sans-serif;
    letter-spacing: 0.1em;
    position: relative;
}

.bottom-bot:after {
    content: "";
    background: #B73030;
    height: 2px;
    width: 48%;
    display: block;
    margin: 5px auto 0;
}
.bottom-bot.reciver:after {
    width: 52%;
}
@media screen and (max-width:767px){.text-end{text-align:left!important;}
 form .btn{width:100%;}
 form .btn-warning{margin-left:0!important;margin-top:10px;}
}