{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://api.fontshare.com/css?f[]=clash-display@500,600,700&f[]=clash-grotesk@300,400,500,600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>PlasmaHelp | Donor Request</title>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="main-header">
        <nav class="navbar navbar-expand-lg" aria-label="Ninth navbar example">
            <div class="container-fluid">
                <div class="text-center col-12">
                    <a class="navbar-brand" href="#"><img src="assets/images/logo.svg' %}" alt=""></a>
                    <div class="d-inline-flex mt-md-0 align-items-center right-side">
                        <a class="me-3 py-2 btn btn-outline-danger" href="/index.html">Logout</a>
                        <a class="me-3 py-2 text-dark" href="#"><img src="{% static 'assets/images/account-profile.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- End Header -->
    <section class="banner-section">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-1">
                    <div class="d-flex align-item-center h-100">
                        <div class="d-block w-100">
                            <ul class="links-tabs">
                                <li>
                                    <a href="/donor-around-you.html">
                                        <img src="{% static 'assets/images/maps-icon.svg' %}" alt="">
                                        Map View
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="{% static 'assets/images/user-icon.svg' %}" alt="">
                                        Profile
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="/donor-request.html">
                                        <img src="{% static 'assets/images/alert-active-icon.svg' %}" alt="">
                                        Alerts
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-11">
                    <div class="row m-0">
                        <div class="col-sm-12 col-lg-12 bg-white p-0">
                            <div class="main-left-box">
                                <ul class="nav nav-tabs justify-content-center col-12 col-sm-11 col-lg-10 m-auto" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                            aria-selected="true">REQUESTS</button>
                                    </li>
                                    
                                </ul>
                                <div class="tab-content col-12 col-sm-11 col-lg-9 m-auto" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <ul class="donar-list request">
                                            {% for req in plasmarequests %}
                                            <li>
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 col-lg-4">

                                                        <div class="donar-detaisl h-100">
                                                            <div class="myperson">
                                                                <img src="assets/images/dashboard/profile-image-one.svg"
                                                                    alt="">
                                                                <div class="person">
                                                                    <h6>{{req.donee}}</h6>
                                                                    <p class="mb-0">Request date : {{req.timestamp}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-lg-4">

                                                        <div class="distance-bgroup">
                                                            <div class="dis">
                                                                <p>DISTANCE</p>
                                                                <h6>4.2 KM</h6>
                                                            </div>
                                                            <div class="bgroup">
                                                                <p>BLOOD GROUP</p>
                                                                <h6>AB-</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-lg-4">

                                                        <div class="distance-bgroup request">
                                                            <div class="dis">
                                                                <a href="" class="correct"><img
                                                                        src="{% static 'assets/images/correct.svg' %}" alt=""></a>
                                                            </div>
                                                            <div class="bgroup">
                                                                <a href="" class="wrong"><img
                                                                        src="{% static 'assets/images/wrong.svg' %}" alt=""></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


</html>